:root{
	--color_1: #6060e9;
	--color_2: #ebebeb;
}
@font-face {
	font-family: 'font1';
	src: url('../fonts/nasalization-rg.otf');
}
body{
	margin: 0;
	font-family: Arial;
}
h2{
	text-align: center;
	margin-top: 0;
	font-size: 34px;
}
div.header{
	background: url(../images/header_overlay.png) no-repeat center/100% 100%,url(../images/header.jpg) no-repeat center/cover;
	height: 450px;
	background-color: lightgray;
	border-bottom: 4px solid var(--color_1);
}
div img{
	height: 130px;
	position: relative;
	left: 50%;
	margin-left: -63px;
	margin-top: 50px;
	margin-bottom: 20px;
}
div.header h1{
	color: white;
	text-align: center;
	margin: 0;
	font-size: 40px;
}
div.header p{
	color: lightgray;
	font-family: Arial;
	text-align: center;
	margin: 0;
	font-size: 20px;
}
a.contact_button{
	text-decoration: none;
	color: var(--color_1);
	border: 3px solid var(--color_1);
	padding: 8px 20px;
	background-color: #0000008f;
	display: inline-block;
	margin-top: 30px;
	font-size: 20px;
}
a.contact_button:hover{
	color: white;
	border: 3px solid orange;
}
div.header_contact{
	position: absolute;
	top: 10px;
	left: 10px;
	border-left: 4px solid var(--color_1);
	padding-left: 8px;
}
div.header_contact p{
	text-align: left;
}
div.header_contact a{
	color: white;
	font-size: 14px;
}
div.header_contact a:hover{
	color: var(--color_1);
}
div.triangle_1{
	background: url(../images/triangle2white.svg) no-repeat center bottom/100%;
	background-color: var(--color_2);
	height: 150px;
	padding: 30px;
}
div.triangle_2{
	background: url(../images/triangle1white.svg) no-repeat center top/100%;
	background-color: var(--color_2);
	height: 100px;
	padding: 30px;
}
div.body1{
	height: 300px;
	padding: 40px;
	padding-top: 0;
	padding-bottom: 0;
}
p.downloads_button{
	display: inline-block;
	border: 3px solid var(--color_1);
	padding: 8px 20px;
	font-size: 20px;
	background-color:rgb(36, 36, 36);
}
a.downloads_button{
	color: white;
	text-decoration: none;
}
p.downloads_button:hover{
	border: 3px solid orange
}
div.body2{
	height: 400px;
	padding: 30px;
}
div.body2 img{
	margin: 60px 0 0 0;
}
.logo_1{
	position: absolute;
	left: 25%;
}
.logo_2{
	position: absolute;
	left: 45%;
}
.logo_3{
	position: absolute;
	left: 65%;
}
div.footer{
	color: white;
	height: 80px;
	background-color: rgb(36, 36, 36);
	border-top: 4px solid var(--color_1);
	padding: 30px;
	padding: 10px 30px 0 30px;
}
div.footer p{
	display: inline-block;
}
div.footer a{
	margin: 0;
	float: right;
}
@media only screen and (max-width: 768px) {
	div.header{
		background: url(../images/header_overlay.png) no-repeat center/100% 100%,url(../images/header-2.jpg) no-repeat center/100% 100%;
		height: 350px;
		background-color: lightgray;
		border-bottom: 4px solid var(--color_1);
	}
	div img{
		height: 100px;
		position: relative;
		left: 50%;
		margin-left: -50px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	div.header h1{
		color: white;
		text-align: center;
		margin: 0;
		font-size: 30px;
	}
	a.contact_button{
		text-decoration: none;
		color: var(--color_1);
		border: 3px solid var(--color_1);
		padding: 8px 20px;
		background-color: #0000008f;
		display: inline-block;
		margin-top: 30px;
		font-size: 15px;
	}
	div.header p{
		color: lightgray;
		font-family: Arial;
		text-align: center;
		margin: 0;
		font-size: 10px;
	}
	div.header_contact{
		position: absolute;
		top: 10px;
		left: 10px;
		border-left: 4px solid var(--color_1);
		padding-left: 8px;
	}
	div.header_contact p{
		text-align: left;
	}
	div.header_contact a{
		color: white;
		font-size: 10px;
	}
	div.header_contact a:hover{
		color: var(--color_1);
	}
	div.triangle_1{
		background: url(../images/triangle2white.svg) no-repeat center bottom/100%;
		background-color: var(--color_2);
		height: 100px;
		padding: 30px;
	}
	div.body1{
		margin-top: 10px;
		height: 300px;
		padding: 40px;
		padding-top: 0;
		text-align: justify;
	}
	div.body1 h2{
		margin-bottom: 0px;
	}
	.logo_1{
		position: absolute;
		left: 17%;
	}
	.logo_2{
		position: absolute;
		left: 45%;
	}
	.logo_3{
		position: absolute;
		left: 70%;
	}
}
@media only screen and (max-width: 668px){
	div.footer{
		height: 100px;
	}
	div.footer a{
		display: block;
		float: none;
		width: 130px;
	}
}
@media only screen and (max-width: 454px){
	div.footer{
		height: 150px;
	}
	div.footer p:first-child{
		margin-bottom: 0;
	}
}